<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->

  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->

	<!-- build:css(.tmp) styles/main.css -->
	<link rel="stylesheet" href="styles/bootstrap.css" />
	<link rel="stylesheet" href="styles/main.css" />
	<link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Great+Vibes" />
	<link rel='stylesheet' type='text/css' href='http://fonts.googleapis.com/css?family=Hammersmith+One' />
	<!-- endbuild -->

	<script src="bower_components/jquery/jquery.js"></script>
	<script src="bower_components/angular/angular.js"></script>
	<script src="scripts/vendor/ui-bootstrap-tpls-0.7.0.js"></script>
	<script src="bower_components/angular-ui-router/release/angular-ui-router.js"></script>
	<script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>

	<!-- build:js({.tmp,app}) scripts/scripts.js -->


	<script src="scripts/app.js"></script>
	<script src="scripts/controllers/IndexCtrl.js"></script>
	<script src="scripts/vendor/jquery.sticky.js"></script>
	<script src="scripts/vendor/jquery.scrollto.js"></script>
	<script src="scripts/vendor/jquery.slides.js"></script>
	<!-- endbuild -->

	<script type="text/javascript">
		$(function(){
			$('#site-nav').sticky({
				topSpacing: 0,
				elementClassName: 'bottom-shadow'
			});

			$('#slides').slidesjs({
				height: 528,
				navigation: {active: false},
				pagination: {active: false}
			});
		});
	</script>

</head>
<body ng-app="ashleyAndOwenApp">

    <!--[if lt IE 7]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    <!--[if lt IE 9]>
      <script src="bower_components/es5-shim/es5-shim.js"></script>
      <script src="bower_components/json3/lib/json3.min.js"></script>
    <![endif]-->

	<div class="container">

		<div class="slide slide1" id="home">
			<div class="nav-offset"></div>
			<div class="content-pad">
				<div class="intro"></div>

				<div class="intro-content">
					<h2>August 23, 2014</h2>
					<a href="#" ng-click="goTo('details')">
						It's happening. Click for details.
					</a>

				</div>
			</div>
		</div>

		<div class="slide" id="details">
			<div class="site-nav" id="site-nav">
				<ul class="navver">
					<li data-ng-repeat="item in navItems" ng-click="goTo(item.sref)">
						<h4>{{ item.label }}</h4>
					</li>
				</ul>
			</div>

			<div class="content-pad">
				content here...xxxx
			</div>
		</div>

		<div class="slide" id="gallery">
			<div class="nav-offset"></div>

			<div id="slides">
				<img src="../images/slide-heli.jpeg">
				<img src="../images/slide-skis.jpg">
				<img src="../images/slide-eng-bw.jpg">
				<img src="../images/slide-mountains.jpg">
				<img src="../images/slide-eng-bw1.jpg">
				<img src="../images/slide-bike.jpg">
				<img src="../images/slide-eng-tree.jpg">
				<img src="../images/slide-boat.jpg">
				<img src="../images/slide-eng-green.jpg">
				<img src="../images/slide-snow.jpg">
				<a class="slidesjs-previous slidesjs-navigation" href="#" title="Previous">
					<div class="nav-offset">&lt;</div>
				</a>
				<a class="slidesjs-next slidesjs-navigation" href="#" title="Next">
					<div class="nav-offset">&gt;</div>
				</a>
			</div>
		</div>

		<div class="slide" id="rsvp"></div>

		<div class="slide" id="about"></div>
	</div>

	<div class="brand">
		<h1>Ashley and Owen</h1>
	</div>

</body>
</html>
