<div class="nav-offset"></div>

<div id="slides">
	<img src="../images/slide-heli.jpeg">
	<img src="../images/slide-skis.jpg">
	<img src="../images/slide-eng-bw.jpg">
	<img src="../images/slide-mountains.jpg">
	<img src="../images/slide-eng-bw1.jpg">
	<img src="../images/slide-bike.jpg">
	<img src="../images/slide-eng-tree.jpg">
	<img src="../images/slide-boat.jpg">
	<img src="../images/slide-eng-green.jpg">
	<img src="../images/slide-snow.jpg">
	<a class="slidesjs-previous slidesjs-navigation" href="#" title="Previous">
		<div class="nav-offset">&lt;</div>
	</a>
	<a class="slidesjs-next slidesjs-navigation" href="#" title="Next">
		<div class="nav-offset">&gt;</div>
	</a>
</div>
